@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/************ color palette **********
2A4454 charcoal
712C0D Seal Brown
292a2c Jet
9facac Ash Gray
13120F Night
EbaD67 earth yellow
********** end color palette **********/

body{
    height: 100vh;
}

*{
    box-sizing: border-box;
    /*box model fix*/
    margin: 0;
    border: 0;
    padding: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.main-nav{
    margin-top: 5px;
}
.logo a,
.main-nav a {
    padding: 10px 15px;
    text-transform: uppercase;
    text-align: center;
    display: block;
    color:#A10702;
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.main-nav a {
    font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
    font-size: .99em;
}

.main-nav a:hover{
    color: #2a4454;
}

.header{
    padding-top: .5em;
    background-color:rgb(211, 209, 209);
    padding-bottom: .5em;
    border: 1px solid #13120f;
    box-shadow: 0px 0px 14px 0px rgb(0,0,0,0.75);
    border-radius: 5px;
}

/*------ Tablet media Query ------*/
@media screen and (min-width:769px) {
.header,
.main-nav{
    display: flex;
}
.header{
    flex-direction: column;
    align-items: center;
    .header{
        width:80%;
        margin: 0 auto;
        max-width: 1150px;
    }
}
}

/*------ End of tablet media query ------*/


/*------ Desktop media query ------*/
@media screen and (min-width: 1025px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
}

/*------ End desktop media query ------*/

/*------ Large display media query ------*/
@media screen and (min-width: 1850px){
    .header{
        flex-direction: row;
        justify-content: space-between;
    }
}
/*------ End Large display media query ------*/

footer {
    margin-top: 0;
    background-color: #bf3000;
    color:white;
}
